/* #region GENERAL */

/* * * * * * * * * * * * * * * * * * *
 GENERAL STYLES 
 * * * * * * * * * * * * * * * * * * */

/*
    COLOUR PALETTE 
    --------------

    (One-Colour, B&W Design) 
    White   : #ddd 
    Middle  : 8F4228 (Earthy Brown) <-- MAIN 
    Black   : #222; 
*/ 

.background-image { 
    background: 
        linear-gradient(rgba(0,0,0,0.25), rgba(0,0,0,0.25)), 
        url('../assets/christian-holzinger-996721-unsplash-1920x1080.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-attachment: fixed; 

    box-shadow:inset 0px -20px 20px 8px rgba(27, 20, 17, 0.2),
        inset 0px -9px 20px 2px rgba(27, 20, 17, 0.41);
}



/* #endregion */

/* #region HEADER */
/* HEADER SECTION */

header { 
    background: transparent; 
    height: 80px; 

    color: #ddd;
}

header .container {
    background: #8F4228; 
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

header a { 
    color: #ddd; 
}

header a:hover { 
    text-decoration: none; 
    color: #ddd; 
}

header .logo { 
    margin-right: auto; 
    color: #ddd; 
}

header .logo i { 
    margin-right: 0.5em; 
}

header .logo span { 
    font-size: 1.5em; 
    font-family: 'Alfa Slab One', serif; 
}

header ul { 
    margin-bottom: 0; 
    display: flex;
}

header li { 
    list-style: none; 
}

header ul a { 
    font-family: 'Noto Sans', sans-serif; 
    font-weight: bold; 
    font-size: 20px; 

    display: flex; 
    align-items: center; 
    padding: 0 20px; 
    height: 80px;
}

header ul a:hover {
    background-color: rgb(170, 74, 43);
    text-decoration: none;
}

.mobile-nav { 
    background-color: #8F4228; 
    color: #ddd; 

    display: none; 
    
    border: none; 
    height: 80px; 
    width:  80px; 
}

@media (max-width: 770px) { 
    header ul {
        display: none; 
    }

    header .mobile-nav { 
        display: block; 
    }
}

/* #endregion */

/* #region HERO */
/* HERO SECTION */
.hero { 
    min-height: 800px; 

    display: flex; 
    flex-direction: column; 
    justify-content: center; 
}

.hero .container { 
    display: flex; 
    justify-content: center;
}

.hero-content { 
    color: #ddd;
    
    width: 75%;
    height: 75%;

    display: flex; 
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
}

.hero-content h1 { 
    margin: 0; 
    
    font-family: 'Alfa Slab One', serif; 
    font-size: 3em; 
    text-align: center; 
}

.hero-content hr { 
    border-color: #ddd; 
    width: 100%; 
    border-width: 4px;
}

.hero-content p { 
    margin-bottom: 1em; 
    
    font-family: 'Noto Sans', sans-serif; 
    font-size: 1.4em;
    text-align: center;
}

.hero button { 
    background-color: #8F4228;
    color: #ddd; 

    font-family: 'Noto Sans', sans-serif;
    font-weight: 700; 
    font-size: 1.2em; 

    border-width: 0; 
    border-radius: 20px; 
    padding: 10px 20px; 
}

.hero button:hover { 
    background-color: rgb(170, 74, 43); 
}

/* Fit Content for Hero at Different Sizes */
/* Max-Width Found through Hand-Testing */
@media (max-width: 770px) { 
    .hero { 
        min-height: 700px;
    }

    .hero-content { 
        width: 100%; 
    }
}



/* #endregion */

/* #region MAIN */
/* MAIN SECTION */
main { 
    min-height: 700px; 
    display: flex; 
    align-items: center; 
    color: #222; 

    font-family: 'Noto Sans', sans-serif; 

    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    position: relative; 
}

main h2 { 
    font-weight: 700; 
    font-size: 2em; 

    margin-top: 30px; 
}

main hr { 
    border-width: 3px; 
    border-color: #222; 
}

main p { 
    font-size: 1.2em; 
    text-align: justify;
    
    margin-bottom: 30px; 
}

/* #endregion */

/* #region FOOTER */
/* FOOTER SECTION */
footer { 
    background-color: #8F4228; 
    min-height: 400px;

    font-family: 'Noto Sans', sans-serif; 

    display: flex; 
    justify-content: stretch; 
}

footer h2 { 
    color: #ddd; 

    font-size: 0.9em; 
    font-weight: 700; 
}

footer hr {
    border-color: #ddd; 
    border-width: 2px; 
}

footer a { 
    font-size: 0.8em; 
    color: #ddd; 
}

footer a:hover { 
    color: #bbb; 
    text-decoration: none; 
}

footer .container { 
    background-color: transparent; 
    padding-top: 1em; 
}

footer .row > div { 
    margin-top: 20px; 
    max-width: 300px; 
}

footer ul { 
    padding: 0;
}

footer li { 
    list-style: none;
    margin-top: 8px;  
}

.social-media-links ul { 
    display: flex; 
}

.social-media-links li { 
    margin-right: 20px; 
}
/* #endregion */